@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';
@import './../../../styles/keyframes';

.window {
  position: relative;
  width: 600px;
  margin-top: $spacer * 3;
  background: $color--white;
  border-radius: 5px;
  padding: $spacer;
  overflow: hidden;
  box-shadow: 0 0 100px 0 rgba($color--grey, 0.8);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color--violet;
  }

  &__control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid $color--white;
    color: $color--white;
    cursor: pointer;

    svg {
      width: 10px !important;
      height: 10px;
    }

    + .window__control {
      margin-left: $spacer / 4;
    }
  }

  &__body {
    position: relative;
    margin-top: $spacer;
    z-index: 11;
  }

  &__close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    color: $color--violet;
    cursor: pointer;
    background: transparent;
  }

  &__overlay {
    position: absolute;
    left: -30px;
    bottom: -30px;
    z-index: 10;

    svg {
      width: 200px !important;
      height: 200px;
      opacity: 0.1;
    }
  }

  &.violet {
    background-color: $color--violet;
    color: $color--white;

    .window__title,
    .window__close-button {
      color: $color--white
    }
  }

  &.dark-violet {
    background-color: $color--violet-dark;
    color: $color--white;

    .window__title,
    .window__close-button {
      color: $color--white;
    }
  }

  &.lavander {
    background-color: $color--white-violet;
    color: $color--violet;

    .window__title,
    .window__close-button {
      color: $color--violet;
    }
  }

  &.white {
    background-color: $color--white-darker;
    color: $color--violet;

    .window__title,
    .window__close-button {
      color: $color--violet;
    }
  }

  &.black {
    background-color: $color--black;
    color: $color--white;

    .window__title,
    .window__close-button {
      color: $color--white;
    }
  }

  &.grey {
    background-color: $color--grey;
    color: $color--black;

    .window__title,
    .window__close-button {
      color: $color--black;
    }
  }
}
