@import './../../../styles/colors';
@import './../../../styles/breakpoints';
@import './../../../styles/vars';

.input {
  position: relative;
  width: 100%;
  margin: ($spacer / 2) 0;

  &__field {
    padding: 10px 15px 10px 5px;
    width: 100%;
    font-weight: normal;
    color: $color--black;
    border: 0;
    background: transparent;
    border-bottom: 1px solid $color--black;

    &:focus {
      color: $color--violet;
      border-color: $color--violet-darker;
      outline: none;
    }

    &::placeholder {
      opacity: 0.3;
      color: $color--black;
    }

    &--inverted {
      &:focus {
        color: $color--white;
        border-color: $color--white;
        outline: none;
      }

      &::placeholder {
        opacity: 0.3;
        color: $color--white;
      }
    }
  }

  &__label {
    display: inline-block;
    font-weight: 500;
    color: $color--black;
  }

  &__icon {
    position: absolute;
    z-index: 10;
    top: calc(50% - 4px);
    left: 20px;
    width: 30px;
    height: 30px;
  }

  &--has-icon {
    .input__field {
      padding: 25px 30px 25px 65px;
    }
  }
}
